body {
  background-color: black;
  font-family: "robot medium";
  color: white;
}

.um {
  font-size: 40px;
  color: rgb(180, 180, 180);
  font-family: "ubuntu light";
  margin-top: -5px;
}

.card {
 margin-top: -30px;
}

.count1 {
  font-size: 100px;
}

.count2 {
  font-size: 100px;
  margin-top: -250px;
  margin-left: 160px;
}

.count3 {
  font-size: 100px;
  margin-top: -250px;
  margin-left: 320px;
}

.session {
  position: absolute;
  font-family: "roboto medium";
  font-size: 100px;
  margin-top: -175px;
  margin-left: 15px;
}


.seperater {
  margin-top: -130px;
  margin-left: 120px;
  font-size: 100px;
}

.seperater1 {
  font-size: 100px;
  margin-top: -200px;
  margin-left: 280px;
}